*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    /* overflow: scroll; */
    /* overflow-wrap: break-word; */
     overflow-x: auto; 
    /* overflow-y: hidden; */
    

}