@tailwind base;
@tailwind components;
@tailwind utilities;

.information { 
    background-color: #f8f9fa;  
    border: 1px solid #dee2e6;  
    border-radius: 8px;  
    padding: 16px;  
    max-width: 400px;  
    margin: 20px auto;  
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   */
    background-color: rgb(180 83 9);
} 
 
.information p { 
    font-size: 18px;  
    margin-bottom: 12px;  
} 
 
.information input { 
    width: calc(100% - 16px);  
    padding: 8px;  
    margin-bottom: 10px;  
    border: 1px solid #ced4da; 
    border-radius: 4px;  
    font-size: 16px; 
} 
 
.information input:focus { 
    /* background-color: rgb(180 83 9); */
    border-color: #80bdff;  
    outline: none;  
}