@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heading{
    @apply p-4 bg-blue-600 text-white text-center text-3xl
  }
  .btn{
    @apply p-4 bg-gray-500 text-white text-center m-2 font-bold
  }
}
/* 

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */
