*{
    margin: 0;
    padding: 0;
}
.container{
    /* background-color: black; */
    display: grid; 
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 120px 100px 100px 100px 100px 100px;
    grid-column-gap:10px ;
    grid-row-gap:7px ; 

}
.items1{
    background-color: rgb(248, 178, 178);
    grid-column: 1/5;
}

.items2{
    background-color:lightblue;
    grid-row: 2/6;
}
.items3{
    background-color:rgb(199, 147, 199);
    grid-row:2/4;
}
.items4{
    background-color:rgb(199, 147, 199);
    grid-row:2/4;
  
 
}
.items5{
    background-color:rgb(199, 147, 199);
    grid-row:2/4;
}
.items6{
    background-color:rgb(161, 205, 161);
      grid-column: 2/5; 
     grid-row:4/6
    
}
.items7{
    background-color:rgb(141, 141, 192);
    grid-column: 1/5;
   
    
}