
.path{
    border: 1px solid black;
    padding: 5px;
    margin-top: 25px;

}
.path1{
    border: 1px solid black;
    padding: 5px;
    margin-top: 25px;
}

.translatex{
    height: 150px;
    width: 150px;
    background-color: greenyellow;
}

.path:hover .translatex{
    /* transform: translatex(400px); */
    transform: translateX(400px);
    transition: 2s;
}

.translatey{
    height: 150px;
    width: 150px;
    background-color: green;
}
.path1:hover .translatey{
    transform: translatey(400px);
    transition: 2s;
}

.path2{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.translate{
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    
}
.path2:hover .translate{
    transform: translate(200px,100px);
    transition: 2s;
}


/* 
rotate */


.path3{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.rotatex{
    height: 150px;
    width: 150px;
    background-color: lightcoral;
}
.path3:hover .rotatex{
    transform: rotatex(380deg);
    transition: 2s;
}


.path4{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.rotatey{
    height: 150px;
    width: 150px;
    background-color:lightseagreen;
}
.path4:hover .rotatey{
    transform: rotatey(360deg);
    transition: 2s;
}
.rotate{
    height: 150px;
    width: 150px;
    background-color:rgb(32, 32, 178);
}
.path5:hover .rotate{
    transform: rotate(360deg);
    transition: 2s;
}


/* scale */

.path6{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.scalex                                                                     {
    height: 150px;
    width: 150px;
    background-color:lightgreen;
}
.path6:hover .scalex{
    transform:scalex(1.2);
    transition: 2s;
}


.path7{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.scaley                                                                     {
    height: 150px;
    width: 150px;
    background-color:lightslategray;
}
.path7:hover .scaley{
    transform:scale(1.2);
    transition: 2s;
}

/* skew */


.path8{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.skewx                                                                     {
    height: 150px;
    width: 150px;
    background-color:brown;
}
.path8:hover .skewx{
    transform:skewx(360deg);
    transition: 2s;
}

.path9{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.skewy                                                                     {
    height: 150px;
    width: 150px;
    background-color:rgb(155, 42, 165);
}
.path9:hover .skewy{
    transform:skewy(220deg);
    transition: 2s;
}

.path10{
    border: 1px solid;
    padding: 5px;
    margin-top: 25px;
}

.skew                                                                     {
    height: 150px;
    width: 150px;
    background-color:yellow;
}
.path10:hover .skew{
    transform:skew(220deg,220deg);
    transition: 2s;
}


/* transition */

.path11{
    border: 1px solid red;
    padding: 40px;
    margin-top: 20px;
    
}

.image{
    height: 100px;
    width: 100px;
    /* background-color: chartreuse; */
  

}


img{
    height: 200px;
    width: 200px;
    padding: 20px;

}
.path11:hover .image{
    transform: scale(2);
    transition: 2s;
}

.trasition{
    height: 100px;
    width: 100px;
     background-color: chartreuse;
     margin-top:70px; 
  

}
.path11:hover .trasition{
    width: 100px;
    height: 100px;
    transform: translate(900px);
    /* transition-delay: 5s; */
    /* transition-duration: 5s; */
    /* transition-property: height; */
    /* transition-timing-function: linear; */
    /* transition-timing-function: ease;  */
    /* transition-timing-function: ease-in;   */
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: ease-out; */

}


